.what-we-offer-container {
    background-color: #fff;
    padding: 50px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    color: #333;
}

.offer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.offer-card {
    flex: 0 1 calc(50% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    max-width: 250px;
}

.offer-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.offer-card h3 {
    margin-bottom: 10px;
    color: #333;
}

.offer-card p {
    color: #555;
}